.section-about{
    background-color: $color-grey-light-1;
    padding:25rem;
    margin-top: -20vh;
}


.section-features{

    padding:20rem 0;
    background-image: linear-gradient(to right bottom,rgba($gradient-black,0.8),rgba($gradient-black,0.3)),url(../../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-5deg);
    margin-top: -15vh;

    &>*{
        transform: skewY(5deg);
    }
}


.section-tours{

    background-color: $color-grey-light-1;
    padding:25rem 0 50rem 0;
    margin-top: -10rem;
}


.seciton-stories{

    padding: 15rem 0;
    // background-color: $color-grey-light-1;
    position: relative;
}


.section-book{

    padding:15rem;
    background-image: linear-gradient(to right bottom,$color-primary-dark,$color-primary-light);
}


.book{

    background-image: linear-gradient(105deg ,
                                    rgba(255,255,255,0.9) 0%,
                                    rgba(255,255,255,0.9) 50%,
                                   transparent 50% ),url('../../img/nat-10.jpg');
    background-size: 100%;
    height: 50rem;

    
    &__form{
            
        width: 50%;
        padding:6rem;
        // background-color: orangered;
    }
}