@-webkit-keyframes white-btn {
  0% {
    transform: translateY(5rem);
    opacity: 0; }
  100% {
    transform: translateY(0rem);
    opacity: 1; } }

@-webkit-keyframes left-right {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  80% {
    transform: translateX(0.8rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@-webkit-keyframes right-left {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  80% {
    transform: translateX(-0.8rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato",sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #777777;
  padding: 2.5rem;
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3.5rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation-name: "left-right";
    animation-duration: 1.4s; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation-name: "right-left";
    animation-duration: 1.5s;
    text-align: center; }

.secondary-heading {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  font-weight: 700;
  transition: all 0.5s; }
  .secondary-heading:hover {
    transform: skewY(10deg);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 17, 0.4); }

.heading-teritary {
  font-size: 1.5rem;
  font-size: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 3.5rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5); }

.btn:active {
  transform: translateY(-0.5rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: white; }
  .btn--white:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.btn--green {
  background-color: #28b485;
  color: #fff; }
  .btn--green::after {
    background-color: #28b485; }
  .btn--green:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
  transition: all 0.4s; }

.btn-white-animated {
  animation-name: white-btn;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out; }

.btn-text:link, .btn-text:visited {
  color: #7ed56f;
  text-decoration: none;
  border-bottom: 2px solid #28b485;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  display: inline-block; }

.btn-text:hover {
  background-color: #28b485;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5); }

.card {
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all .5s;
    perspective: 1500px;
    -moz-perspective: 1500px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      background-color: #fff;
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #ffb908, #ff7730); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #023EB6); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    --webkit-clip-path: polygon(0 0,100% 0,100% 80%,100% 80%,0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 100% 80%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 8, 0.8), rgba(255, 119, 48, 0.8)), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(2, 62, 182, 0.8)), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    top: 15rem;
    right: 1rem;
    text-align: right;
    width: 75%; }
  .card__heading__span {
    padding: .3rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading__span--1 {
      background-image: linear-gradient(to right bottom, #ffb908, #ff7730); }
    .card__heading__span--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .card__heading__span--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #023eb6); }
  .card__details ul {
    list-style-type: none;
    width: 60%;
    margin: auto; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem;
      text-transform: uppercase; }
      .card__details ul li:not(:last-child) {
        border-bottom: .1rem solid #eeeeee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; }
  .card__price-box {
    text-align: center;
    color: #fff; }
  .card__price-only {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 400; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 300; }
  .card .btn {
    margin-top: 8rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: block;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc( (100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc( (100% - 2*6rem)/3); }
  .row .col-1-of-4 {
    width: calc( (100% - 3*6rem)/4); }
  .row .col-2-of-3 {
    width: calc(( 2*(100% - 2*6rem)/3 + 6rem)); }
  .row .col-2-of-4 {
    width: calc(( 2*(100% - 3*6rem)/4 +   6rem)); }
  .row .col-3-of-4 {
    width: calc(( 3*(100% - 3*6rem)/4 +   2*   6rem)); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 17, 0.8), rgba(0, 0, 17, 0.3)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo-box {
    position: relative;
    top: 4rem;
    left: 2rem;
    padding: 1rem; }
  .header__logo {
    width: 5rem;
    height: auto;
    cursor: pointer;
    transition: transform .1s; }
  .header__logo:hover {
    transform: scale(1.1); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 17, 0.8), rgba(0, 0, 17, 0.3)), url(../../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-5deg);
  margin-top: -15vh; }
  .section-features > * {
    transform: skewY(5deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 50rem 0;
  margin-top: -10rem; }

.seciton-stories {
  padding: 15rem 0;
  position: relative; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    outline-offset: 1rem;
    transition: all 0.2s; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p3 {
      top: 5rem;
      left: 3rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo:hover {
      transform: scale(1.15);
      z-index: 1;
      outline: 0.7rem solid #28b485; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.8); }

.feature__box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 17, 0.15);
  transition: all 0.5s; }
  .feature__box__icon {
    font-size: 6rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block; }
  .feature__box:hover {
    transform: scale(1.15);
    background-color: white; }

.story {
  width: 75%;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  position: relative;
  transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    background-color: yellow;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-3rem) scale(1.5);
    transition: all 0.5s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    transform: translate(-50%, 20%);
    font-size: 1.7rem;
    opacity: 0;
    transition: all .5s; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    transform: translateX(-3rem) scale(1);
    filter: blur(2px); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15; }
  .bg-video__content {
    object-fit: cover;
    height: 100%;
    width: 100%; }
